:root {
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --main-txt-cl: #303030;
  --secondary-txt-cl: #ffffff;
  --accent-txt-cl: #ff6c00;
  /* Bg colors */
  --main-bg-cl: #111319;
  --secondary-bg-cl: #ffffff;
  --accent-bg-cl: #ff6c00;
  /* Common colors */
  --light-gray-cl: #555555;
  --gray-cl: #9da4bd;
  --gray-cl-60: rgba(157, 164, 189, 0.6);
  /* Others */
  --indent: 30px;
  --items: 3;

  --header-idx: 10;
  --modal-idx: 100;
}
/* Base styles */

body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

/* ? *Reset styles start*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ? *Reset styles end*/

.section {
  padding: 120px 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.uppertitle::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}

.uppertitle-light {
  color: var(--gray-cl-60);
}
.uppertitle-light::before {
  background: rgba(157, 164, 189, 0.6);
}

.title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title-light {
  color: var(--secondary-txt-cl);
}
.undertitle {
  margin-bottom: 20px;
  color: var(--light-gray-cl);
}
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: currentColor;

  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #ff6c00;
}
.btn:hover,
.btn:focus {
  color: var(--secondary-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn-light {
  color: var(--secondary-txt-cl);
}
/* !Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.caed-set-item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* !Header styles */

.header {
  position: fixed;
  top: 0;
  z-index: var(--header-idx);

  width: 100%;
  padding: 22px 0;
  /* background-color: var(--main-bg-cl); */
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 124px;
}
.header-img {
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-nav-item {
}
.header-nav-link {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt-cl);
}

.header-nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 12px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

.header-nav-link.current {
  color: var(--accent-txt-cl);
}

.header-nav-link.current::after,
.header-nav-link:hover::after,
.header-nav-link:focus::after {
  background-color: var(--accent-bg-cl);
}
.header-contact {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}
.header-btn {
  margin-right: 20px;
}

/* !Hero styles */

/* .hero {
  background-color: var(--main-bg-cl);
} */

.hero-container {
  position: relative;
  display: flex;
}
.hero-left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
}
.media {
  display: flex;
  align-items: center;
  gap: 40px;
}
.media:before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}
.media-item {
}
.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}

.hero-right-side {
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-image: url(../images/hero/slider-img-3.jpg);
  background-color: var(--main-bg-cl);
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-txt-cl);
}
.hero-desc {
  width: 360px;
  color: var(--gray-cl);
}

/* !Slider styles */

.slider-controls {
  position: absolute;
  bottom: 40px;
  right: 35px;
  gap: 24px;

  display: flex;
  align-items: center;
}
.slider-controls-item {
}
.slider-controls-btn {
  width: 60px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);

  border: none;
  border-bottom: 1px solid var(--secondary-bg-cl);
  background-color: transparent;
}
.slider-controls-btn[disabled] {
  color: var(--gray-cl-60);
}

/* !About styles */

.about-container {
  display: flex;
  gap: 30px;
}
.about {
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
}
.about-img {
}
.about-right-side {
  width: 470px;
}
.about-desc {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
  color: var(--light-gray-txt-cl);
}

/* !Price styles */

.price {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main-bg-cl);
  background-image: url(../images/price/bg-imgbgr-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.price-list {
  margin-bottom: 44px;
  display: flex;
  gap: 30px;
}
.price-item {
}
.price-inner-list {
  width: 570px;
  padding: 30px 20px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.price-item:first-child .price-inner-list {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-item:last-child .price-inner-list {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-inner-item {
  color: var(--gray-cl);
  align-items: baseline;
  gap: 12px;

  margin-bottom: 20px;
  display: flex;
}

.price-inner-service {
  order: -1;
}

.price-inner-item::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: rgba(157, 164, 189, 0.2);
}

.price-inner-item:last-child {
  margin-bottom: 0px;
}

.price-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* !Benefits styles */

.benefits {
}
.benefits-container {
  display: flex;
  gap: 30px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin: 0 auto;
  align-items: flex-start;
}
.benefits-item {
  width: 170px;
  padding: 20px 24px;
  min-height: 133px;
  background: #f7f7f7;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}
.benefits-left-side {
  width: 570px;
}
.benefits-right-side {
  width: 500px;
}
.benefits-quantity {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}

.benefits-quantity::after {
  content: '\002B';
  color: var(--accent-txt-cl);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
}
.benefits-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

/* !Team styles */

.team {
  background: #f7f7f7;
}
.team-title {
  margin-bottom: 44px;
}
.team-list {
}
/* .team-item {
  width: calc((100% - (30px * 2)) / 3);
} */
.team-wrapper {
  padding: 30px 15px;
}
.team-img {
}
.team-label {
  width: 90%;
  padding: 30px;

  color: #f7f7f7;
  background-color: rgb(17, 19, 25, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}
.team-subtitle {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}
.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-txt-cl);
}

/*! Socials icons styles*/
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--main-bg-cl);
  color: var(--accent-bg-cl);
}
.socials-icon {
  fill: currentColor;
}
/* !Gallery styles */
.gallery-uppertitle {
  margin-bottom: 44px;
}
.gallery-list {
  --items: 4;
}
/* !Booking styles */
.booking {
  width: 570px;
}
.main-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.main-wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  background-image: url(../images/contacts/bg-imgcontacts-bgr-img.png);
  background-repeat: no-repeat;
  background-position: center left calc((50% + (785px / 2)) + 15px);
}

/* !Contacts styles */

.contacts {
  width: 570px;
  padding-left: 100px;
}
.contacts-address {
  margin-bottom: 72px;
  font-style: normal;
  color: var(--gray-cl);
}
.contacts-list {
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-link {
}
.contacts-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--gray-cl-60);
}
.contacts-schedule {
  color: var(--gray-cl);
}

/* !Footer styles */

.footer {
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--gray-cl);
}
